{% if testimonial is not None and testimonial|length != 0 %}
<section class="section border-top border-bottom">
  <div class="container">
    <div class="row justify-content-center text-center mb-5">
      <div class="col-md-4">
        <h2 class="section-heading">Review From Our Users</h2>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-md-7">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">
            {% for item in testimonial %}
            <div class="swiper-slide">
              <div class="review text-center">
                <p class="stars">
                  {% for i in testimonial.starRange %}
                  <span class="bi bi-star-fill {% if forloop.counter > item.star_ratings  %}muted{% endif %} "></span>
                  {% endfor %}
                </p>
                <h3>{{item.rating_title}}</h3>
                <blockquote>
                  <p>{{item.ratings}}</p>
                </blockquote>
            
                <p class="review-user">
                  <img src="{% if item.avatar_image %}/media/{{item.avatar_image}}{% else %}/assets/img/user_profile.svg{% endif %}" alt="Image" class="img-fluid rounded-circle mb-3" style="height: 70px; width: 70px;" >
                  <span class="d-block">
                    <span class="text-black">{{item.user.get_full_name}}</span>, &mdash; App User
                  </span>
                </p>
            
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}