{% extends 'temp.html' %}
{% block desc %}{{blog_desc|truncatewords:30}}{% endblock %}
{% block style %}
<link rel="stylesheet" href="/assets/css/prism.css">{% endblock %}
{% block title %}{{blog.blog_title}} - Cool Developer{% endblock %}
{% block blog_active %}active{% endblock %}
{% block main %}
<main id="main">

	<!-- ======= Single Blog Section ======= -->
	<section class="hero-section inner-page">
		<div class="wave">

			<svg width="1920px" height="265px" viewBox="0 0 1920 265" version="1.1" xmlns="http://www.w3.org/2000/svg"
				xmlns:xlink="http://www.w3.org/1999/xlink">
				<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
					<g id="Apple-TV" transform="translate(0.000000, -402.000000)" fill="#FFFFFF">
						<path
							d="M0,439.134243 C175.04074,464.89273 327.944386,477.771974 458.710937,477.771974 C654.860765,477.771974 870.645295,442.632362 1205.9828,410.192501 C1429.54114,388.565926 1667.54687,411.092417 1920,477.771974 L1920,667 L1017.15166,667 L0,667 L0,439.134243 Z"
							id="Path"></path>
					</g>
				</g>
			</svg>

		</div>

		<div class="container">
			<div class="row align-items-center">
				<div class="col-12">
					<div class="row justify-content-center">
						<div class="col-md-10 text-center hero-text">
							<h1 data-aos="fade-up" data-aos-delay="">{{blog.blog_title}}</h1>
							<p class="mb-5" data-aos="fade-up" data-aos-delay="100">{{blog.blog_date}} &bullet; By <a
									href="#" class="text-white text-capitalize">{{blog.blog_author.get_full_name}}</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>

	<section class="site-section mb-4">
		<div class="container">
			<div class="row">
				<div class="col-md-8 blog-content text-dark">
					<p class="lead mb-5">{{blog_desc|truncatewords:20}}</p>
					{{blog.blog_content|safe}}
					<div class="pt-5">
						<p>
							{% for category in blog.blog_category.all %}
							{% if forloop.counter == 1 %}Category:&nbsp;{% endif %}
							<a href="/category/{{category.category_url}}">
								{{category.category_name|capfirst}}
								{% if not forloop.last %},{% else %}&nbsp;{% endif %}
							</a>
							{% endfor %}
							Tags: <a href="#">#html</a>, <a href="#">#trends</a></p>
					</div>
					<div class="pt-5">
						{% for comment in comments %}
						{% if forloop.counter == 1 %}
						<h3 class="mb-5">{{comments|length}} Comments</h3>
						<ul class="comment-list">
							{% endif %}
							<li class="comment">
								<div class="vcard bio">
									<img height="50" width="50"
										src="{% if comment.userImage %}/media/{{comment.userImage}}{%else%}/assets/img/person_1.jpg{%endif%}"
										alt="User Image">
								</div>
								<div class="comment-body">
									<h3>{{comment.user.first_name}} {{comment.user.last_name}}</h3>
									<div class="meta">{{comment.timestamp}}</div>
									<p>{{comment.Text}}</p>
									
									<p class="d-flex justify-content-between">
										{% if comment.replycomments|length != 0 %}
										<span class="text-primary" data-bs-toggle="collapse" data-bs-target="#collapseReply{{comment.id}}" role="button" aria-expanded="false" aria-controls="collapseReply{{comment.id}}">
											Show {{comment.replycomments|length}} Reply
										</span>
										{% endif %}
										{% if user.is_authenticated %}
										<button class="reply" data-bs-toggle="collapse"
											data-bs-target="#replyComment{{comment.id}}" role="button"
											aria-expanded="false" aria-controls="replyComment{{comment.id}}">
											Reply
										</button>
									</p>
									<p>
									<div class="collapse" id="replyComment{{comment.id}}">
										<div class="card card-body">
											<div class="comment-form-wrap pt-1">
												<h3>Reply Comment</h3>
												<form action="/post-comment" class="" method="post">
													{% csrf_token %}
													<input type="hidden" name="postId" value="{{blog.blog_id}}">
													<input type="hidden" name="parentId" value="{{comment.id}}">
													<div class="form-group mt-3">
														<!-- <label for="message">Message *</label> -->
														<textarea name="comment" id="message" required cols="30"
															rows="20" class="form-control"
															placeholder="Enter your reply"></textarea>
													</div>
													<div class="form-group mt-3">
														<input type="submit" value="Reply" class="reply">
													</div>
												</form>
											</div>
										</div>
									</div>
									</p>
									{% endif %}
								</div>
								{% for childcomment in comment.replycomments %}
								{% if forloop.counter == 1 %}
								<ul class="children collapse" id="collapseReply{{comment.id}}">
									{% endif %}
									<li class="comment">
										<div class="vcard bio">
											<img height="50" width="50"
										src="{% if childcomment.userImage %}/media/{{childcomment.userImage}}{%else%}/assets/img/person_1.jpg{%endif%}"
										alt="User Image">
										</div>
										<div class="comment-body">
											<h3>{{childcomment.user.first_name}} {{childcomment.user.last_name}}</h3>
											<div class="meta">{{childcomment.timestamp}}</div>
											<p>{{childcomment.Text}}</p>
										</div>
									</li>
									{% if forloop.last %}
								</ul>
								{% endif %}
								{% endfor %}
							</li>
							{% if forloop.last %}
						</ul>
						{% endif %}
						{% endfor %}
						<!-- END comment-list -->

						{% if user.is_authenticated %}
						<div class="comment-form-wrap pt-5">
							<h3 class="mb-2">Leave a comment</h3>
							<form action="/post-comment" class="" method="post">
								{% csrf_token %}
								<input type="hidden" name="postId" value="{{blog.blog_id}}">
								<div class="form-group mt-3">
									<!-- <label for="message">Message *</label> -->
									<textarea name="comment" id="message" required cols="30" rows="20"
										class="form-control" placeholder="Enter your comment"></textarea>
								</div>
								<div class="form-group mt-3">
									<input type="submit" value="Post Comment" class="btn btn-primary">
								</div>

							</form>
						</div>
						{% else %}
						<h4 class="mb-5 fst-italic text-center">Login to Leave Comment</h4>
						{% endif %}
					</div>

				</div>
				<div class="col-md-4 sidebar">
					<div class="sidebar-box">
						<form action="/search" class="search-form">
							<div class="form-group">
								<span class="icon fa fa-search"></span>
								<input type="text" class="form-control" name="q" placeholder="Search Blog">
							</div>
						</form>
					</div>
					{% for category in categories %}
					{% if forloop.counter == 1 %}
					<div class="sidebar-box">
						<div class="categories">
							<h3>Categories</h3>
							{% endif %}
							<li><a href="/category/{{category.category_url}}">{{category.category_name}}
									<span>({{category.number}})</span></a></li>
							{% if forloop.last %}
						</div>
					</div>
					{% endif %}
					{% endfor %}
					<div class="sidebar-box">
						<img src="{% if profileImage != None and profileImage != '' %}/media/{{profileImage}}{% else %}/assets/img/person_1.jpg{% endif %}"
							alt="Image placeholder" width="512" height="auto" class="img-fluid mb-4">
						<h3>About The Author</h3>
						{% if about_author|length != 0 %}
						<p>
						{{about_author|truncatewords:25}}
						</p>
						<p><a href="/user/{{blog.blog_author.username}}" class="btn btn-primary btn-sm">Read More</a></p>
						{% else %}
						<p>No information available</p>
						{% endif %}
					</div>

					<div class="sidebar-box">
						<!-- <h3>Paragraph</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem
							necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente
							consectetur similique, inventore eos fugit cupiditate numquam!</p> -->
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- ======= CTA Section ======= -->
	{% include 'component/cta.html' %}
	<!-- End CTA Section -->
</main>
{% endblock %}
{% block script %}
<script src="/assets/js/prism.js"></script> {% endblock %}