{% extends 'temp.html' %}
{% block desc %}
{% endblock %}
{% block title %}
Welcome to django blog
{% endblock %}
{% block pricing_active %}active{% endblock %}
{% block style %}
<style>
  .checkmark {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #4bb71b;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #4bb71b;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
    position: relative;
    top: 5px;
    right: 5px;
    margin: 0 auto;
  }

  .checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #4bb71b;
    fill: #fff;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;

  }

  .checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  }

  @keyframes stroke {
    100% {
      stroke-dashoffset: 0;
    }
  }

  @keyframes scale {

    0%,
    100% {
      transform: none;
    }

    50% {
      transform: scale3d(1.1, 1.1, 1);
    }
  }

  @keyframes fill {
    100% {
      box-shadow: inset 0px 0px 0px 30px #4bb71b;
    }
  }
</style>
{% endblock %}
{% block main %}
<main id="main">

  <!-- ======= FeatPricingures Section ======= -->
  <div class="hero-section inner-page">
    <div class="wave">

      <svg width="1920px" height="265px" viewBox="0 0 1920 265" version="1.1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Apple-TV" transform="translate(0.000000, -402.000000)" fill="#FFFFFF">
            <path
              d="M0,439.134243 C175.04074,464.89273 327.944386,477.771974 458.710937,477.771974 C654.860765,477.771974 870.645295,442.632362 1205.9828,410.192501 C1429.54114,388.565926 1667.54687,411.092417 1920,477.771974 L1920,667 L1017.15166,667 L0,667 L0,439.134243 Z"
              id="Path"></path>
          </g>
        </g>
      </svg>

    </div>

    <div class="container">
      <div class="row align-items-center">
        <div class="col-12">
          <div class="row justify-content-center">
            <div class="col-md-7 text-center hero-text">
              <h1 data-aos="fade-up" data-aos-delay="">Our Pricing</h1>
              <p class="mb-5" data-aos="fade-up" data-aos-delay="100">Pick a plan that fits your need. We scale up for
                you.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <section class="section">
    <div class="container">
      {% if success == False %}
      <div class="row justify-content-center text-center">
        <div class="col-md-7 mb-5">
          <h2 class="section-heading">Choose A Plan</h2>
          <p>Choose a plan of your choice. Choose whatever you need and whatever you want. </p>
        </div>
      </div>
      <div class="row align-items-stretch">
        {% for price in prices %}
        <form action="" method="post" class="col-lg-4 mb-4 mb-lg-0">
          {% csrf_token %}
          <div class="pricing h-100 text-center {% if price.most_popular %}popular{% endif %}">
            <span class="popularity">
              {% if price.most_popular %}Most Popular{% endif %}
              {% if forloop.last %}Best Value{% else %}&nbsp;{% endif %}
            </span>
            <h3>{{price.plan_name}}</h3>
            <ul class="list-unstyled">
              <li>{% if price.premium_blogs < 0 %}Unlimited{% else %}{{price.premium_blogs}}{% endif %} Premium Blogs /
                  month</li>
              <li>Generate 2500 monthly reports</li>
              <li>Manage a team of up to 5 people</li>
            </ul>
            <div class="price-cta">
              <input type="hidden" name="price" value="{{price.plan_price}}">
              <strong class="price">&#8377;{{price.plan_price}}/month</strong>
              <p>
                {% if user.is_authenticated %}
                <button type="submit" class="btn btn-white">Choose Plan</button>
                {% else %}
                <button type="button" data-bs-toggle="modal" data-bs-target="#modalSignIn" class="btn btn-white">Choose
                  Plan</button>
                {% endif %}
              </p>
            </div>
          </div>
        </form>
        {% endfor %}
        {% if table|length > 3 %}
        <p class="mt-5 text-center">You can check out our <span class="text-primary" role="button" onclick="document.querySelector('table').classList.toggle('d-none')"> full pricing list</span> </p>
        <table class="table table-bordered table-lg text-start d-none" id="pricingTable">
          <thead>
            <tr>
              <th scope="col">Sl. No</th>
              <th scope="col">Plan Name</th>
              <th scope="col">Price</th>
              <th scope="col">Plan Users</th>
            </tr>
          </thead>
          <tbody class="border-top-0">
            {% for item in table %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>{{item.plan_name}}</td>
              <td>&#8377;{{item.plan_price}}</td>
              <td>{{item.plan_users}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endif %}
      </div>
      {% else %}
      <div class="row justify-content-center text-center">
        <div class="col-md-8 mb-5">
          <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
            <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
            <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
          </svg>
          <br>
          <p>Your payment of rupees &#8377;{{details.TXNAMOUNT}} is successful</p>
          <table class="table table-bordered table-lg text-start" id="detailsTable">
            <thead>
              <tr>
                <th scope="col">Sl. No</th>
                <th scope="col">Deatils</th>
                <th scope="col">Value</th>
              </tr>
            </thead>
            <tbody class="border-top-0">
              <tr>
                <th scope="row">1</th>
                <td>Amount</td>
                <td>&#8377;{{details.TXNAMOUNT}}</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Order ID</td>
                <td>{{details.id}}</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Txn ID</td>
                <td>{{details.TXNID}}</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Bank Txn ID</td>
                <td>{{details.BANKTXNID}}</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Bank</td>
                <td>{{details.BANKNAME}}</td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>User</td>
                <td>{{user.get_full_name}} ( {{user.username}} )</td>
              </tr>
              <tr>
                <th scope="row">7</th>
                <td>Time</td>
                <td>{{details.TXNDATE}}</td>
              </tr>
            </tbody>
          </table>
          <button class="btn btn-sm btn-primary" onclick="printDiv('detailsTable')">Print</button>
        </div>
      </div>
      <script>
        function printDiv(divID) {
          //Get the HTML of div
          var divElements = document.getElementById(divID).outerHTML;
          //Get the HTML of whole page
          var oldPage = document.body.innerHTML;
          //Reset the page's HTML with div's HTML only
          document.body.innerHTML =
            `<html>
          <head>
            <title></title>
          </head>
          <body> 
          ${divElements}
          </body>`;
          //Print Page
          window.print();
          //Restore orignal HTML
          document.body.innerHTML = oldPage;

        }
      </script>
      {% endif %}
    </div>
  </section>

  <!-- ======= Testimonials Section ======= -->
  {% include 'component/testimonial.html' %}
  <!-- End Testimonials Section -->

  <!-- ======= CTA Section ======= -->
  {% include 'component/cta.html' %}
  <!-- End CTA Section -->
</main>
{% endblock %}